  
/*This is a comment in CSS*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
    
}

p{
    font-size: 25px;

}

.geopolitics{
    text-align: center;
    color:rgb(2, 39, 11);
    padding-top: 100px;
    font-size: 1cm;
    text-shadow: 5px 5px 10px rgb(3, 68, 18);
}

    
.centered-wrapper{
    color: rgb(11, 12, 11);
    font-weight: lighter;
    text-align: center;
    padding-top: 150px;
    /* line-height: 5px;
    letter-spacing: 1px;
    white-space: pre-line; */
    
}
.centered-wrapper2{
    color: rgb(233, 13, 13);
    text-align: center;
    letter-spacing: 14px;
    padding-top: 300px;


}

/* When giving a child element position absolute you should give the parent position value as well */
/* The child will then be positioned absolute in realtion to the box container of the parent */
/* positioning elements on the page is fundamental to understanding CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
.title{
    font-size: 1.2cm;
    letter-spacing: 11px;
    position: relative;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-top: 300px;
}
.title a{
    position: absolute;
}
.title a.Borderlands{
    color: rgb(201, 14, 14);
    font-style: oblique;
    font-size: 1cm;
    left: 22%;
    top: 135px;
    rotate: -54deg;
    padding-top: 214px;
}
.title a.you{
    color: darkgreen;
    position:relative;
    
}

a.dead-link:hover{
/* color: rgb(244, 239, 240); */
opacity: 0;
}
.text-color{
    color: rgb(244, 242, 237);
}

.parrafo{
    color:rgb(104, 104, 55);
    text-align:center;
    padding-top: 30px;
    padding-block: 10px       
}
.menu{
    text-align: center;
}
.sovereignty{
    background-color:rgb(126,14,49);

}

